:root {
  --mainPrimary: #383f50;
  --mainGreen: #5bc84d;
  --mainPurple: rgb(88, 72, 175);
  --mainSecondary: rgb(252, 251, 255);
  --mainDarking: rgb(220, 220, 228);
  --mainWhite: #f3f3f3;
  --mainGrey: #9f9eb2;
}

body {
  font-family: "Oswald", sans-serif !important;
  color: var(--mainPrimary) !important;
}